// app global css in SCSS form
//fuentes
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
$font-title: 'Cormorant Garamond', serif;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
$font-text: 'Open Sans', sans-serif;

body{
    font-family: $font-text;
}
.centrar{
    margin: 0px auto;
}
.cuarenta{
    width: 40%;
}
.cuarentaycinco{
    width: 45%;
}
.treinta{
    width: 30%;
}
.cincuenta{
    width: 50%;
}
.sesenta{
    width: 60%;
}
.setenta{
    width: 70%;
}
.cien{
    width: 100%;
}
.veinte{
    width: 20%;
}
.ochenta{
    width: 80%;
}
.text-h6{
    font-family: $font-title;
}
.text_beige{
    color: #CA9E64;
}
.text_normal{
    font-family: $font-text;
}
.azul_fondo{
    background: #EEF6F7;
}
.azul_boton{
    background: #8EB1D5;
}
.bg_botn_white_border_green{
    background: #fff;
    color: #A1BC31;
    border: 1px solid #A1BC31;
    span{
        color: #A1BC31;
    }
}
.titulos, .title{
    font-family: $font-title;
    font-size: 54px;
    letter-spacing: -1.08px;
    color: #1F2660;
}
.titulo2{
    font-family: $font-title;
    font-size: 44px;
    letter-spacing: -1.08px;
    color: #1F2660;
}
.subtitle{
    font-family: $font-title;
    font-size: 46px;
    letter-spacing: -1.08px;
    color: #1F2660;
}
.subtitle_open{
    font-family: $font-text;
    font-size: 25px;
    letter-spacing: -1.08px;
    color: #1F2660;
}
.fuente_titulo{
    font-family: $font-title;
}
.fuente_normal{
    font-family: $font-text !important;
}
.font_40{
    font-size: 40px !important;
}
.font_50{
    font-size: 50px !important;
}
.font_30{
    font-size: 30px !important;
}
.font_20{
    font-size: 20px !important;
}
.w_73{
    width: 72%;
}
.w_75{
    width: 74%;
}
.w_25{
    width: 24%;
}
.w_50{
    width: 50%;
}
.w_70{
    width: 69%;
}
.w_28{
    width: 31%;
}

.w_800{
    max-width: 800px;
    width: 96%;
}
.w_850{
    max-width: 850px;
    width: 96%;
}
.w_500{
    max-width: 500px;
    width: 96%;
}
.w_30{
    max-width: 30%;
    width: 96%;
}
.w_1000{
    max-width: 1000px;
    width: 96%;
}
.w_1100{
    max-width: 1100px;
    width: 96%;
}
.w_1200{
    max-width: 1350px;
    width: 100%;
    margin: 0px auto;
}
.w_45{
    width: 45%;
}
.w_sesenta{
    max-width: 60%;
    width: 100%;
}
.w_cincuenta {
    max-width: 50%;
}
.w_cuarenta{
    max-width: 40%;
}
.m_left_20{
    margin-left: 20px;
}
.m_y_20{
    margin: 20px 0;
}
.h_44{
    height: 39px;
    margin-top: 5px;
}
.hr_amarillo{
    border: 1px solid #CA9E64;
}
.bg_amarillo{
    background: #FDF9F2 0% 0% no-repeat padding-box;
}
.bg_white{
    background: #fff;
}
.bg_white_i{
    background: #fff!important;
}
.bg_botn_azul{
    background: #8EB1D5;
}
.bg_botn_verde{
    background: #A1BC31;
}
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}
.bg_orange{
    background: #CA9E64!important;
}
.ma_to_50{
    margin-top: 50px;
}
.ma_to_30{
    margin-top: 30px;
}
.ma_bo_30{
    margin-bottom: 30px;
}
.open{
    font-family: $font-text;
    font-weight: 400;
}
.text_white{
    color: #fff;
}
.text_azul{
    color: #1F2660;
}
.color_p{
    color: #7C7E91;
}
.azul_iconos{
    color: #21609F;
}
.blanco_iconos{
    color: #fff;
}
.q-btn{
    text-transform: none;
}
.btn_bg_beige{
    background: #CA9E64 padding-box !important;
    color: #fff;
    border: none;
    padding: 5px;
    text-transform: capitalize;
    .q-btn__wrapper:before {
        border: none;
    }
}
.sin_borde{
    background: none padding-box !important;
    color: #1F2660;
    border: none;
    padding: 5px;
    .q-btn__wrapper:before {
        border: none;
    }
}
.italic{
    text-align: center;
    font-size: 22px;
    font-family: $font-title;
    font-style: italic;
    letter-spacing: -0.44px;
    color: #1F2660;
    opacity: 1;
}
h3{
    font-family: $font-title;
    color: #1F2660;
}
.text_gry{
    color: #7C7E91;
}
p{
    letter-spacing: 0px;
    color: #7C7E91;
    opacity: 1;
    font-family: $font-text;
    font-size: 15px;
}
.texto_normal {
    letter-spacing: 0px;
    color: #7C7E91;
    opacity: 1;
    font-family: $font-text;
    font-size: 15px;
}
h5.style_title{
    font-family: $font-title;
    font-size: 44px;
    font-weight: 300;
    letter-spacing: -0.88px;
    color: #1F2660;
    opacity: 1;
    margin: 10px 0 20px;
}
.destacado_italic{
    text-align: center;
    font-family: $font-title;
    font-size: 22px;
    letter-spacing: -0.44px;
    color: #3A4286;
    opacity: 1;
    font-style: italic;
}
.row_2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    label{
        width: 49%;
    }
}
.q-field--standout.q-field--rounded .q-field__control{
    background: #F2F2F2;
}
.q-field--standout.q-field--focused .q-field__native {
    color: #2a2a2a;
}
.q-field--filled.q-field--rounded .q-field__control{
    border-radius: 100px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    background: #EDEDED;
}
input:-webkit-internal-autofill-selected {
    background: #EDEDED;
}
aside.q-drawer{
    background: transparent linear-gradient(180deg, #009DC3 0%, #21609F 100%) 0% 0% no-repeat padding-box;
    &.q-drawer--mini{
        width: 76px!important;
        >.overflow-auto{
            margin-left: 10px;
        }
    }
    .q-item__section--avatar{
        background: #EEF6F7;
        width: 50px;
        height: 40px;
        text-align: center;
        border-radius: 7px;
        padding: 0;
        display: block;
        min-width: 40px;
        margin-right: 18px;
        img{
            margin: 9px auto;
        }
    }
    .q-list{
        >.q-item{
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            .q-item__section--main{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;
                flex-direction: inherit;
            }
            &:first-child{
                img{
                    background: transparent;
                    padding: none;
                    border-radius: 0;
                }
                .q-item__section--avatar{
                    background: transparent;
                }
            }
        }
    }
}
.event_nav{
    margin-bottom: 50px;
}
//Estilos login
h2{
    font-size: 24px;
    color: #21609F;
    font-weight: bold;
    margin-top: 0;
}
.header_two{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    .w_50{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
    }

    .w_60{
        width: 65%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .btn_crear{
            margin-left: 20px;
        }
        .btn_crear{
            margin-left: 20px;
        }
        .wrp_search{
            display: flex;
            justify-content: space-between;
            align-items: center;
            >label{
                margin-bottom: 0;
            }
            .q-input{
                .q-field__control{
                    width: 244px;
                    height: 40px;
                }
            }
            button{
                margin-left: -37px;
            }
        }
    }
    .info_user_top{
        ul{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 0;
            li{
                padding: 3px;
                line-height: 1.5;

                strong{
                    color: #21609F;
                    font-size: 20px;
                    font-weight: bold;
                    padding-left: 5px;
                }
                span.edad{
                    color: #656565;
                    font-size: 19px;
                    font-weight: bold;
                    padding-left: 5px;
                }
                button{
                    width: 150px;
                    text-transform: uppercase;
                }
                display: flex;
                flex-direction: column;
            }
        }
    }
    .desc_seccion{
        margin-top: 15px;
    }
}
.title_pop{
    font-family: 'Source Sans Pro', sans-serif;
    color: #21609F;
}
.wrp_title_icon{
    .q-icon{
        font-size: 45px !important;
        background: #EEF6F7;
        border-radius: 6px;
        padding: 3px;
        margin-right: 9px;
    }
    h2{
        margin: 0;
    }
}
.view_login{
    .w_1000px{
        width: 1000px;
        margin: 10px auto;
    }
    .header_login   {
       text-align: left;
       p{
           font-size: 24px;
           color: #21609F;
           display: block;
           width: 400px;
           text-align: justify;
       }
    }
    .fots_login{
        background: url("../assets/fondo-login2.png") bottom left no-repeat;
        position: relative;
    }
    .cien{
        align-items: initial;
        .espacio_azul{
            background: url("../assets/fondo-login1.png") top right no-repeat;
            position: relative;

            .wrap_form_login{
                width: 410px;
                box-shadow: 0px 0px 10px #0000006e;
                background-color: #fff;
                padding-top: 4px;
                position: absolute;
                z-index: 9;
                left: -200px;
                top: 134px;

                .title_login{
                    background: #21609F;
                    color: #fff;
                    padding: 9px;
                    width: 95%;
                    margin: 0px auto 40px;
                    text-align: center;
                    display: block;
                    margin-top: 10px;
                    font-size: 30px;
                    font-weight: bold;
                    border-radius: 5px;
                    line-height: 1;
                }
                .row_user_login{
                    font-size: 16px;
                    color: #707070;
                    text-align: left;
                    padding: 0px 10px;
                    >span{
                        padding-left: 15px;
                        font-weight: 400;
                    }
                }
                .row_user_pass{
                    font-size: 16px;
                    color: #707070;
                    text-align: left;
                    padding: 0px 10px;
                    margin-bottom: 15px;
                    >span{
                        padding-left: 15px;
                        font-weight: 400;
                    }
                    label{
                        padding-bottom: 0;
                    }
                }
            }
            .wrap-olvido-contrasenia{
                color: #21609F;
                font-weight: bold;
                margin-top: 0;
                padding-left: 15px;
                a{
                    color: #21609F;
                    font-size: 15px;
                    text-decoration: underline;
                }
            }
        }
    }
}
.title_out_content{
    font-size: 25px;
    color: #21609F;
    margin: 10px 0;
    font-weight: bold;
    margin-left: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.row_bottom_login{
    background: url("../assets/fondo-azul-login.png") bottom center no-repeat;
    padding: 10px;

    .desc{
        color: #fff;
        font-size: 14px;
        line-height: 1.2;
        width: 90%;
        margin: 5px auto;
    }
    .q-btn__content{
        padding: 9px;
        width: 250px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 17px;
    }
}

.grilla{
    width: 100%;
    border: 1px solid #ccc;
    tr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 96%;
        border-bottom: 1px solid #ccc;
        margin: 0px auto;

        td{
            padding: 4px;
            span{
                color: #656565;
                margin-left: 5px;
            }
            .text-white {
                span{
                    color: #fff;
                }
            }
        }
        &:last-child{
            border-bottom: none;
        }
    }
}
.space-betwen{
    justify-content: space-between;
}
.wrp_forms{
    >.row{
        width: 100%;
        margin: 24px 0;
        >.item{
            >label{
                padding-bottom: 0;
                &:first-child{
                    color: #21609F;
                    margin-left: 8px;
                    font-size: 15px;
                    font-weight: 400;
                    font-family: 'Source Sans Pro', sans-serif;
                    line-height: 1;
                    text-align: justify;
                    display: block;
                    padding-left: 0px;
                    padding-bottom: 6px;
                }
            }
        }
        .align_right{
            text-align: right;
        }
        .q-textarea .q-field__native{
            padding-left: 20px;
        }
    }
    .dos_items{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        >.item{
            width: 48%;
            .q-field__control{
                border-radius: 100px;
            }
        }
    }
    .tres_items{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        >.item{
            width: 32%;
            .q-field__control{
                border-radius: 100px;
            }
        }
    }
    .un_item{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        >.item{
            width: 100%;
            .q-field__control{
                border-radius: 100px;
            }
        }
    }
}
.grillas_tabs {
    box-shadow: none;
    .q-tabs {
        width: 60%;
        .q-tab {
            margin: 0px 10px 0 0;
            background: #8EB1D5;
            color: #fff;
            text-transform: uppercase;
            border-radius: 5px 5px 0 0;
        }
        .q-tab--active{
            background: #21609F;
            color: #fff;
            .q-tab__label{
                color: #fff;
            }
        }
    }
    >hr{
        display: none;
    }
    .q-tab-panel{
        border:1px solid #ccc;
        .grilla{
            border: none;
        }
    }
}
.tabs_forms{
    .q-tabs {
        width: 100%;
    }
}
.provicional{
    max-width: 100%;
}
.titulo_fondo{
    background: #588ECC;
    color: #fff;
    padding: 9px 50px 9px 20px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    line-height: 1;
}
.list_resumen{
    padding: 10px;
    li{
        margin: 10px 0;
        list-style: none;
        a{
            background: #588ECC;
            padding: 5px 8px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            border-radius: 6px;
        }
    }
}
.pop_cambiarpsf h4{
    font-family: 'Source Sans Pro', sans-serif;
    color: #21609F;
    margin: 15px 0;
    font-size: 25px;
    font-weight: bold;
}
.list_pdf{
    padding: 0 10px;
    margin: 0;
    li{
        margin: 10px 0;
        list-style: none;
        border-bottom: 1px solid #ccc;
        padding: 6px 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 0;
            .q-icon{
                color: #21609F;
                margin-right: 10px;
            }
        }
        a{
            background: #A1BC31;
            padding: 3px 20px 2px;
            color: #fff;
            text-decoration: none;
            border-radius: 100px;
        }
    }
}
.align_right{
    text-align: right;
}

.wrp_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    >label{
        margin-bottom: 0;
    }
    .q-input{
        .q-field__control{
            width: 244px;
            height: 40px;
        }
    }
    button{
        margin-left: -37px;
    }
}
.flex-end{
    justify-content: flex-end!important;
}
.aviso_busque{
    font-size: 25px;
    color: #21609F;
    margin: 10px 0;
    font-weight: bold;
    margin-left: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    text-align: center;
}
.q-field--error .q-field__bottom{
    padding: 2px 10px 2px;
}
.close_pop{
    position: absolute;
    right: 0;
    top: 0;
    background: #21609F;
    color: #fff;
    .q-btn__wrapper{
        min-height: 1.4em;
        min-width: 1.4em;
    }
}
.pop_perfil{
    .row_cien{
        display: flex;
        justify-content: space-between;
        .wrp_forms{
            width: 100%;
        }
        .w_20{
            width: 24%;
            background: transparent linear-gradient(180deg, #009DC3 0%, #21609F 100%) 0% 0% no-repeat padding-box;
            border-radius: 5px;
            ul{
                flex-direction: column;
                padding: 20px 10px;
                li{
                    color: #fff;
                    list-style: none;
                    p{
                        color: #fff;
                        font-size: 16px;
                    }
                    &.info_top{
                        padding-bottom: 15px;
                        border-bottom: 2px solid #fff;
                        text-align: center;
                        margin-bottom: 15px;
                        p{
                            font-size: 22px;
                            font-weight: bold;
                            margin: 0 0 7px;
                        }
                    }
                    &.action{
                        text-align: center;
                        margin-top: 20px;
                        .row{
                            margin: 0;
                        }
                        button{
                           .q-btn__content {
                               text-transform: uppercase;
                               font-weight: bold;
                           }
                        }
                    }
                }
            }
        }
        .w_78{
            width: 75%;
        }
        .row{
            width: 100%;
            margin: 24px 0;
            .item{
                label{
                    color: #21609F;
                    margin-left: 8px;
                    font-size: 15px;
                    font-weight: 400;
                    font-family: 'Source Sans Pro', sans-serif;
                    line-height: 1;
                    text-align: justify;
                    display: block;
                    padding-left: 0px;
                    padding-bottom: 6px;
                }
            }
            .input_lectura{
                background: #EBEBEBA3 0% 0% no-repeat padding-box;
                border-radius: 100px;
                padding: 8px 10px;
                color: #707070;
                font-size: 16px;
            }
        }
        .dos_items{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .item{
                width: 48%;
            }
        }
        .tres_items{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            >.item{
                width: 32%;
            }
        }
        .un_item{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            >.item{
                width: 100%;
            }
        }
    }
}
.doc-note{
    background-color: #EEF6F7;
    padding: 10px;
    min-height: 15%;
    .titulo_nota{
        color: #21609F;
        text-align: left;
        display: block;
        margin: 5px 0;
    }
    ul{
        padding: 0;
        li{
            align-items: center;
            list-style: none;
            position: relative;
            color: #292929;
            font-size: 14px;
            padding-left: 20px !important;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            padding: 10px;
            &:before{
                content: "";
                position: absolute;
                left: 0;
                top: 22px;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background: #21609F;
            }
        }
    }
    .resalta{
        color: #C23832;
    }
}
.w_48{
    width: 48%;
    .q-pdfviewer{
        height: 70%;
    }
    .cambiar_pdf{
        margin: 20px 0;
    }
}
.wiew_reportes{
    .grillas_tabs .q-tabs {
        width: 30%;
    }
}
.flex-end{
      justify-content: flex-end;
      display: flex;
}
.wiew_reportes{
    .tipo_grilla{
        .flex-end{
            .q-field--filled .q-field__control{
                border-radius: 100px;
            }
            .labele{
                color: #21609F;
                font-size: 14px;
            }
            .dos_items{
                margin-bottom: 20px;
                .item{
                    max-width: 190px;
                    margin: 0px 20px;
                }
            }
        }
    }
}
.azul{
    color: #21609F;
}
.radius_30{
    border-radius: 30px;
    .q-field--filled .q-field__control{
        border-radius: 15px;
    }
}
.content_input_anota{
    border-bottom: 1px solid #21609F;
    padding: 10px;
}
.vertical{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}